{% extends "base_detail.html" %}
{% block title %}{{ question.title }}{% endblock %}
{% block detail %}
    <h1>{{ question.title }}</h1>
    <p>{{ question.text }}</p>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>{{ answer.text }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        {% for e in form.non_field_errors %}
            <div class="alert alert-danger">{{ e }}</div>
        {% endfor %}
        <form class="form-horizontal" method="post" action="{{ question.get_url }}">
            <fieldset>
                {% csrf_token %}
                {% for field in form %}
                    <div class="control-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">{{ field }}</div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    {% endif %}
{% endblock %}